<a href="https://colab.research.google.com/github/ravirajgm/Raviraj_LinearRegression/blob/main/Linear_Regression_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Housing Data subjected to Regression. The key metrics will be validated and the explanation done for each parameter.

In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [20]:
housingdf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/home_data.csv')

housingdf.head(5)

           id             date   price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000  ... -122.045           1800        7503

[5 rows x 21 columns]

In [5]:
housingdf.describe()

                 id         price  ...  sqft_living15     sqft_lot15
count  2.161300e+04  2.161300e+04  ...   21613.000000   21613.000000
mean   4.580302e+09  5.400881e+05  ...    1986.552492   12768.455652
std    2.876566e+09  3.671272e+05  ...     685.391304   27304.179631
min    1.000102e+06  7.500000e+04  ...     399.000000     651.000000
25%    2.123049e+09  3.219500e+05  ...    1490.000000    5100.000000
50%    3.904930e+09  4.500000e+05  ...    1840.000000    7620.000000
75%    7.308900e+09  6.450000e+05  ...    2360.000000   10083.000000
max    9.900000e+09  7.700000e+06  ...    6210.000000  871200.000000

[8 rows x 20 columns]

In [6]:
housingdf.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [9]:
housingdf.corr()

                     id     price  ...  sqft_living15  sqft_lot15
id             1.000000 -0.016762  ...      -0.002901   -0.138798
price         -0.016762  1.000000  ...       0.585379    0.082447
bedrooms       0.001286  0.308350  ...       0.391638    0.029244
bathrooms      0.005160  0.525138  ...       0.568634    0.087175
sqft_living   -0.012258  0.702035  ...       0.756420    0.183286
sqft_lot      -0.132109  0.089661  ...       0.144608    0.718557
floors         0.018525  0.256794  ...       0.279885   -0.011269
waterfront    -0.002721  0.266369  ...       0.086463    0.030703
view           0.011592  0.397293  ...       0.280439    0.072575
condition     -0.023783  0.036362  ...      -0.092824   -0.003406
grade          0.008130  0.667434  ...       0.713202    0.119248
sqft_above    -0.010842  0.605567  ...       0.731870    0.194050
sqft_basement -0.005151  0.323816  ...       0.200355    0.017276
yr_built       0.021380  0.054012  ...       0.326229    0.070958
yr_renovated  -0.016907  0.126434  ...      -0.002673    0.007854
zipcode       -0.008224 -0.053203  ...      -0.279033   -0.147221
lat           -0.001891  0.307003  ...       0.048858   -0.086419
long           0.020799  0.021626  ...       0.334605    0.254451
sqft_living15 -0.002901  0.585379  ...       1.000000    0.183192
sqft_lot15    -0.138798  0.082447  ...       0.183192    1.000000

[20 rows x 20 columns]

In [13]:
#Use Statsmodels to run linear regression

X = housingdf[['bedrooms','bathrooms','sqft_living','sqft_basement','sqft_living15','sqft_lot','sqft_above','yr_built','grade','floors']]
Y = housingdf['price']

X = sm.add_constant(X) # adding a constant
model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()
print(print_model)

columns = ['bedrooms','bathrooms','sqft_living','sqft_basement','sqft_living15','sqft_lot','sqft_above','yr_built','grade','floors']
hx = housingdf[columns]
hy = housingdf['price']

x_train,x_test,y_train,y_test = train_test_split(hx,hy,train_size = 0.7,random_state=42)
x_train_new = sm.add_constant(x_train)
x_test_new = sm.add_constant(x_test)
print ("\nVariance Inflation Factor")
cnames = x_train.columns
for i in np.arange(0,len(cnames)):
    xvars = list(cnames)
    yvar = xvars.pop(i)
    mod = sm.OLS(x_train[yvar],sm.add_constant(x_train_new[xvars]))
    res = mod.fit()
    vif = 1/(1-res.rsquared)
    print (yvar,round(vif,3))

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.618
Model:                            OLS   Adj. R-squared:                  0.618
Method:                 Least Squares   F-statistic:                     3888.
Date:                Mon, 14 Jun 2021   Prob (F-statistic):               0.00
Time:                        15:08:15   Log-Likelihood:            -2.9720e+05
No. Observations:               21613   AIC:                         5.944e+05
Df Residuals:                   21603   BIC:                         5.945e+05
Df Model:                           9
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          7.298e+06   1.28e+05     56.943      0.000    7.05e+06    7.55e+06
bedrooms        -4.8e+04   2108.212    -22.766      0.000   -5.21e+04   -4.39e+04
bathrooms       5.19e+04   3628.217     14.305      0.000    4.48e+04     5.9e+04
sqft_living     120.2142      2.535     47.421      0.000     115.245     125.183
sqft_basement    76.0429      2.856     26.622      0.000      70.444      81.642
sqft_living15    34.3825      3.734      9.209      0.000      27.064      41.701
sqft_lot         -0.2200      0.038     -5.735      0.000      -0.295      -0.145
sqft_above       44.1713      2.446     18.061      0.000      39.378      48.965
yr_built      -4124.7385     67.256    -61.329      0.000   -4256.565   -3992.912
grade          1.253e+05   2349.107     53.357      0.000    1.21e+05     1.3e+05
floors         3.196e+04   3942.575      8.106      0.000    2.42e+04    3.97e+04
==============================================================================
Omnibus:                    17690.833   Durbin-Watson:                   1.983
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1336086.246
Skew:                           3.446   Prob(JB):                         0.00
Kurtosis:                      40.897   Cond. No.                     2.29e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.03e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Variance Inflation Factor
bedrooms 1.602
bathrooms 3.28
sqft_living inf
sqft_basement inf
sqft_living15 2.736
sqft_lot 1.06
sqft_above inf
yr_built 1.644
grade 3.188
floors 1.925

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: RuntimeWarning: divide by zero encountered in double_scalars

Interpreting the results above:
1. The R2 is a +ve number and its 0.6 which is less than 0.7, hence the model is not fit enough for selection
2. The VIF or variance inflation factor for sqft_living, sqft_basement and sqft_above is showing inf which is due to R2 being 1 - meaning perfect fit
3. The Durbin-Watson is less than 2 which tests the null hypothesis on the auto-correlation of residuals and this range indicates +ve correlation

Wine Quality Data for Regression analysis

In [7]:
winedf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/winequality-white.csv',sep=';')

winedf.head(5)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

Iteration-1

In [21]:
#Use Statsmodels to run linear regression

X = winedf[['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol']]
Y = winedf['quality']

colnms = ['volatile acidity',  'chlorides', 'free sulfur dioxide','total sulfur dioxide','pH', 'sulphates', 'alcohol']

pdx = winedf[colnms]
pdy = winedf["quality"]

x_train,x_test,y_train,y_test = train_test_split(pdx,pdy,train_size = 0.7,random_state=42)
x_train_new = sm.add_constant(x_train)
x_test_new = sm.add_constant(x_test)

full_mod = sm.OLS(y_train,x_train_new)
full_res = full_mod.fit()
print ("\n \n",full_res.summary())

print ("\nVariance Inflation Factor")
cnames = x_train.columns
for i in np.arange(0,len(cnames)):
    xvars = list(cnames)
    yvar = xvars.pop(i)
    mod = sm.OLS(x_train[yvar],sm.add_constant(x_train_new[xvars]))
    res = mod.fit()
    vif = 1/(1-res.rsquared)
    print (yvar,round(vif,3))

                             OLS Regression Results
==============================================================================
Dep. Variable:                quality   R-squared:                       0.262
Model:                            OLS   Adj. R-squared:                  0.260
Method:                 Least Squares   F-statistic:                     173.2
Date:                Mon, 14 Jun 2021   Prob (F-statistic):          6.49e-220
Time:                        17:16:01   Log-Likelihood:                -3954.0
No. Observations:                3428   AIC:                             7924.
Df Residuals:                    3420   BIC:                             7973.
Df Model:                           7
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    1.8759      0.314      5.974      0.000       1.260       2.492
volatile acidity        -1.8852      0.134    -14.057      0.000      -2.148      -1.622
chlorides               -0.9238      0.652     -1.417      0.157      -2.202       0.355
free sulfur dioxide      0.0070      0.001      6.993      0.000       0.005       0.009
total sulfur dioxide    -0.0004      0.000     -0.824      0.410      -0.001       0.001
pH                       0.1965      0.090      2.188      0.029       0.020       0.372
sulphates                0.4284      0.118      3.620      0.000       0.196       0.660
alcohol                  0.3356      0.013     26.211      0.000       0.311       0.361
==============================================================================
Omnibus:                       86.386   Durbin-Watson:                   2.032
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              186.069
Skew:                           0.113   Prob(JB):                     3.94e-41
Kurtosis:                       4.119   Cond. No.                     7.51e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.51e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

Variance Inflation Factor
volatile acidity 1.079
chlorides 1.157
free sulfur dioxide 1.671
total sulfur dioxide 2.02
pH 1.051
sulphates 1.048
alcohol 1.441

1. The R2 value is very low - 0.26 which is far from 0.7 for selecting as fit
2. The p-value of 'total sulfur dioxide' and 'chlorides' is more 0.05 which means that these variables are insignificant in the regression analysis
3. The Variance inflation factor of 'total sulfur dioxide' is the highest which influences the residual error negatively.
4. In the next iteration, we will remove total sulfur dioxide and chlorides for model optimization.
5. Also, the Durbin-Watson number is slightly more than 2 which indicates that the residuals are negatively correlated

Iteration-2

In [22]:
X = winedf[['fixed acidity','volatile acidity','citric acid','residual sugar','total sulfur dioxide','density','pH','sulphates','alcohol']]
Y = winedf['quality']

colnms = ['fixed acidity','volatile acidity','citric acid','residual sugar','total sulfur dioxide','density','pH','sulphates','alcohol']

pdx = winedf[colnms]
pdy = winedf["quality"]

x_train,x_test,y_train,y_test = train_test_split(pdx,pdy,train_size = 0.7,random_state=42)
x_train_new = sm.add_constant(x_train)
x_test_new = sm.add_constant(x_test)

full_mod = sm.OLS(y_train,x_train_new)
full_res = full_mod.fit()
print ("\n \n",full_res.summary())

print ("\nVariance Inflation Factor")
cnames = x_train.columns
for i in np.arange(0,len(cnames)):
    xvars = list(cnames)
    yvar = xvars.pop(i)
    mod = sm.OLS(x_train[yvar],sm.add_constant(x_train_new[xvars]))
    res = mod.fit()
    vif = 1/(1-res.rsquared)
    print (yvar,round(vif,3))

                             OLS Regression Results
==============================================================================
Dep. Variable:                quality   R-squared:                       0.282
Model:                            OLS   Adj. R-squared:                  0.280
Method:                 Least Squares   F-statistic:                     149.3
Date:                Mon, 14 Jun 2021   Prob (F-statistic):          1.61e-238
Time:                        17:29:09   Log-Likelihood:                -3905.6
No. Observations:                3428   AIC:                             7831.
Df Residuals:                    3418   BIC:                             7893.
Df Model:                           9
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  144.2257     20.804      6.933      0.000     103.437     185.015
fixed acidity            0.0497      0.024      2.046      0.041       0.002       0.097
volatile acidity        -2.0366      0.133    -15.345      0.000      -2.297      -1.776
citric acid             -0.0600      0.115     -0.520      0.603      -0.286       0.166
residual sugar           0.0809      0.008      9.598      0.000       0.064       0.097
total sulfur dioxide     0.0010      0.000      2.797      0.005       0.000       0.002
density               -144.3482     21.105     -6.840      0.000    -185.727    -102.969
pH                       0.6684      0.124      5.374      0.000       0.425       0.912
sulphates                0.6915      0.121      5.703      0.000       0.454       0.929
alcohol                  0.2138      0.027      7.778      0.000       0.160       0.268
==============================================================================
Omnibus:                       78.032   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              150.337
Skew:                           0.142   Prob(JB):                     2.26e-33
Kurtosis:                       3.986   Cond. No.                     3.33e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.33e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

Variance Inflation Factor
fixed acidity 2.537
volatile acidity 1.087
citric acid 1.154
residual sugar 11.263
total sulfur dioxide 1.452
density 24.525
pH 2.075
sulphates 1.131
alcohol 6.83

The observations:
1. The AIC has reduced from iteration-1 which is a trade-off between bias and variance
2. The p-value of citric acid is way higher than 0.05, hence we will remove in the next iteration
3. Also the VIF of density and residual sugar is high, we can remove these two as well in the next iteration
4. But the R2 value still remains at 0.2 with no change

Iteratio-3

In [23]:
X = winedf[['fixed acidity','volatile acidity','total sulfur dioxide','pH','sulphates','alcohol']]
Y = winedf['quality']

colnms = ['fixed acidity','volatile acidity','total sulfur dioxide','pH','sulphates','alcohol']

pdx = winedf[colnms]
pdy = winedf["quality"]

x_train,x_test,y_train,y_test = train_test_split(pdx,pdy,train_size = 0.7,random_state=42)
x_train_new = sm.add_constant(x_train)
x_test_new = sm.add_constant(x_test)

full_mod = sm.OLS(y_train,x_train_new)
full_res = full_mod.fit()
print ("\n \n",full_res.summary())

print ("\nVariance Inflation Factor")
cnames = x_train.columns
for i in np.arange(0,len(cnames)):
    xvars = list(cnames)
    yvar = xvars.pop(i)
    mod = sm.OLS(x_train[yvar],sm.add_constant(x_train_new[xvars]))
    res = mod.fit()
    vif = 1/(1-res.rsquared)
    print (yvar,round(vif,3))

                             OLS Regression Results
==============================================================================
Dep. Variable:                quality   R-squared:                       0.255
Model:                            OLS   Adj. R-squared:                  0.254
Method:                 Least Squares   F-statistic:                     195.2
Date:                Mon, 14 Jun 2021   Prob (F-statistic):          1.94e-214
Time:                        17:35:18   Log-Likelihood:                -3969.4
No. Observations:                3428   AIC:                             7953.
Df Residuals:                    3421   BIC:                             7996.
Df Model:                           6
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    2.9030      0.395      7.358      0.000       2.129       3.677
fixed acidity           -0.0772      0.017     -4.462      0.000      -0.111      -0.043
volatile acidity        -2.1047      0.132    -16.003      0.000      -2.363      -1.847
total sulfur dioxide     0.0016      0.000      4.410      0.000       0.001       0.002
pH                       0.0128      0.100      0.129      0.897      -0.182       0.208
sulphates                0.4135      0.119      3.479      0.001       0.180       0.647
alcohol                  0.3446      0.012     28.166      0.000       0.321       0.369
==============================================================================
Omnibus:                       80.869   Durbin-Watson:                   2.028
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              156.113
Skew:                           0.151   Prob(JB):                     1.26e-34
Kurtosis:                       4.001   Cond. No.                     4.45e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.45e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

Variance Inflation Factor
fixed acidity 1.24
volatile acidity 1.029
total sulfur dioxide 1.314
pH 1.28
sulphates 1.048
alcohol 1.304

1. The R2 has shown improvment by a margin to 0.25 but still not good enough
2. The pH has a high p-value, which we can remove in the next iteration
3. The AIC has increased from the previous iteration
4. The Durbin-Watson remains the same
5. The VIF of total sulfur dioxide is the highest, we can remove it in the next iteration

Iteration-4

In [24]:
X = winedf[['fixed acidity','volatile acidity','sulphates','alcohol']]
Y = winedf['quality']

colnms = ['fixed acidity','volatile acidity','sulphates','alcohol']

pdx = winedf[colnms]
pdy = winedf["quality"]

x_train,x_test,y_train,y_test = train_test_split(pdx,pdy,train_size = 0.7,random_state=42)
x_train_new = sm.add_constant(x_train)
x_test_new = sm.add_constant(x_test)

full_mod = sm.OLS(y_train,x_train_new)
full_res = full_mod.fit()
print ("\n \n",full_res.summary())

print ("\nVariance Inflation Factor")
cnames = x_train.columns
for i in np.arange(0,len(cnames)):
    xvars = list(cnames)
    yvar = xvars.pop(i)
    mod = sm.OLS(x_train[yvar],sm.add_constant(x_train_new[xvars]))
    res = mod.fit()
    vif = 1/(1-res.rsquared)
    print (yvar,round(vif,3))

                             OLS Regression Results
==============================================================================
Dep. Variable:                quality   R-squared:                       0.251
Model:                            OLS   Adj. R-squared:                  0.250
Method:                 Least Squares   F-statistic:                     286.4
Date:                Mon, 14 Jun 2021   Prob (F-statistic):          1.20e-212
Time:                        17:39:29   Log-Likelihood:                -3979.3
No. Observations:                3428   AIC:                             7969.
Df Residuals:                    3423   BIC:                             7999.
Df Model:                           4
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                3.3455      0.180     18.626      0.000       2.993       3.698
fixed acidity       -0.0751      0.016     -4.787      0.000      -0.106      -0.044
volatile acidity    -2.0207      0.130    -15.499      0.000      -2.276      -1.765
sulphates            0.4853      0.117      4.163      0.000       0.257       0.714
alcohol              0.3202      0.011     29.557      0.000       0.299       0.341
==============================================================================
Omnibus:                       81.606   Durbin-Watson:                   2.032
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              163.226
Skew:                           0.136   Prob(JB):                     3.60e-36
Kurtosis:                       4.034   Cond. No.                         181.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Variance Inflation Factor
fixed acidity 1.014
volatile acidity 1.006
sulphates 1.003
alcohol 1.018

Looking at the final results in Iteration-4, the p-values look fine and the VIF are within the unit variance. Hence we can conclude that the model works best for quality of wine if we consider the following variables:
- fixed acidity
- volatile acidity
- sulphates
- alcohol